* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

html,
body {
  height: 100%;
  margin: 0;
  display: grid;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  align-self: center;
  justify-self: center;
}

.content > p {
  display: flex;
  justify-content: center;

  color: aliceblue;
  font-size: xx-large;
  text-shadow: 2px 2px 5px black;
}
